@import './variables.scss';

#authentication {
    background: url('../public/assets/auth_bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat';

    .container {
        position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        height: 100%;

        .left-section {
            background-color: rgba(0, 0, 0, 0.7);
            color: $rightBgColor;
            padding: 0 4vw;
            display: flex;

            .intro {
                position: relative;
                margin: auto 0;

                top: -70px;

                h1 {
                    font-weight: 100;
                    font-size: 4.5vw;
                }

                h2 {
                    font-weight: 100;
                    font-size: 2vw;
                }
            }

        }


        .right-section {
            border: 1px solid green;
            background-color: rgb(229, 229, 229);
            padding: 0 4vw;
            position: relative;


            h1 {
                position: absolute;
                display: inline-block;
                top: 2rem;
                font-weight: 100;
                font-size: 3em;
            }

            form {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 14em;

                .form-container {
                    height: 100%;
                    position: relative;
                }
            }

            .bottom-text {
                position: absolute;
                bottom: 1vh;
            }

        }


        @media only screen and (max-width: 600px) {
            grid-template-columns: 100%;

            .left-section {
                display: none;
            }
        }

        .errors {
            color: red;
        }

    }
}