@import './variables.scss';

#footer {
    position: fixed;
    display: flex;
    align-items: center;
    height: 15px;
    // background-color: $gray;
    background-color: rgba(136, 136, 136, 0.99);
    bottom: 0;
    width: 100%;
    z-index: 100;

    p {
        position: relative;
        font-size: 8px;
        // color: $leftBgColor;
        color: white;
        margin: auto;

        a {
            text-decoration: none;
            // color: $leftBgColor;
            color: white;


            &:hover {
                text-decoration: underline;
            }
        }
    }
}