@import './variables.scss';
@import './elements/slider.scss'; // Toggle is styled separately

#todolist {
  margin: $rightSectionMargin;

  .container {
    padding-bottom: 30px;

    .sortable {
      min-height: 100vh;
    }

    .todo-list {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 30px;
      list-style-type: none;

      @include draggable;

      // Maybe reuse this?
      .item-first {
        margin: 15px 0 30px 0;

        button {
          @include box-style;
          color: $leftBgColor;
          background-color: white;
          border: 1px solid rgba(17, 47, 95, 0.3);
          border-radius: 4px;
          padding: 12px;
          margin-right: 10px;
          // margin: 10px 10px 20px auto;


          &:hover {
            background-color: $navBgColor;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.3);
            cursor: pointer;
          }
        }
      }

      .item {
        //   height: 48px;
        margin: 0;
        @include box-style;

        &:hover {
          transform: scaleY(1.2);
          transform: scaleX(1.01);
          // transition: all 0.1s;
          box-shadow: 5px 5px 5px rgba(17, 47, 95, 0.5);
        }

        div,
        .todo-container {

          position: relative;
          border-left: 10px solid $navBgColor;
          color: $rightFontColor;
          display: flex;
          align-items: center;
          font-size: 10px; // for FontAwesome

          .fa-ellipsis-v,
          .fa-trash-alt,
          .fa-pencil-alt {
            position: absolute;
            cursor: pointer;
            right: 4px;
            top: 4px;
            color: $gray;
            padding: 2px;
          }

          .fa-trash-alt {
            &:hover {
              color: $rightFontColor;
              transform: scale(1.2);
              color: rgb(255, 29, 29);
            }
          }

          .fa-ellipsis-v {
            display: none;
            left: 4px;
            top: auto;
            bottom: auto;
            color: $leftBgColor;
          }

          .fa-pencil-alt {
            display: none;
            top: auto;
            bottom: 4px;

            &:hover {
              color: $green;
            }

          }

          p {
            cursor: text;
            position: relative;
            width: 90%;
            overflow-wrap: break-word;
            margin: 10px 60px 10px 10px;
            padding: 8px;
            padding-left: 2px;
            font-size: 15px;
            line-height: 130%;
            z-index: 99;
            font-weight: 500;
          }

          /* Hide elements from the TODO-list moved here from the Week column */
          .fa-check-circle {
            display: none;
          }

        }

        // TODOs marked as completed
        .todo-done {
          transition: all 2s ease;
          // transition: border-color color font-weight font-style background-color 2s ease;
          border-color: rgb(196, 224, 188);
          // border-color: $green;
          color: $gray;
          font-weight: 200;
          font-style: italic;
          background-color: rgba(204, 207, 204, 0.1);

          // background-color: rgba(39, 188, 0, 1);
          p {
            transition: all 2s ease-in;
            font-size: 12px;
            padding: 0px;
          }

          .fa-ellipsis-v {
            color: $gray;
          }
        }
      }
    }

  }
}