/* VARIABLES */
$navHeight: 45px !default;
$fontSizeDefault: 16px !default;
$navBgColor: #437C90 !default;
$leftBgColor: #191C32 !default;
$rightBgColor: #E5E5E5 !default;
$gray: #BCBCBC !default;
$green: #26BC00 !default;
$leftMinWidth: 300px !default;
$rightMinWidth: 578px !default;
$leftFontColor: $rightBgColor !default;
$rightFontColor: $leftBgColor !default;
$slimBorder: 1px solid rgba(0, 0, 0, 0.15) !default;
$rightSectionMargin: 15px 2vw;


@mixin box-style {
    border: $slimBorder;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(9, 30, 64, 0.2);
    max-width: 1000px;
}

@mixin draggable {
    .draggable {
        cursor: move;
    }

    .draggable.dragging {
        opacity: .1;
    }
}

*:focus {
    outline: none;
}